<app-navbar></app-navbar>
<section class="cart-section">
    <h1>Carrito de Compras</h1>
    <table class="cart-table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Imagen</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (item of productosEnCarrito; track $index) {
                <tr>
                    <td>{{item.producto.id}}</td>
                    <td><img src="{{item.producto.imagenURL}}" alt="{{item.producto.nombre}}"></td>
                    <td>{{item.producto.nombre}}</td>
                    <td class="quantity">
                        <button class="quantity-btn" (click)="decrementar(item.producto)">-</button>
                        <input type="number" [value]="item.cantidad" min="1" class="quantity-input" disabled>
                        <button class="quantity-btn" (click)="aumnetar(item.producto)">+</button>
                    </td>
                    <td>{{item.producto.precio * item.cantidad | currency:'PEN':'S/ '}}</td>
                    <td><button class="remove-btn" (click)="eliminarProducto(item.producto)">Eliminar</button></td>
                </tr>
            }
        </tbody>
    </table>

    <div class="cart-total">
        <h2>Total: {{total | currency:'PEN':'S/ '}}</h2>
    </div>
</section>