/* Estructura principal */
.contact-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    animation: fadeIn 1s ease-in-out;
}

/* Sección de contacto */
.contact-section {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

/* Ítems de contacto */
.contact-item {
    flex: 1 1 200px;
    padding: 20px;
    box-sizing: border-box;
}

/* Icono circular */
.icon-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--color-blue-light);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin: 0 auto 10px;
    img{
        width: 70%;
    }
    img.filtered{
        filter: invert();
    }
}

/* Información y descripción de contacto */
.contact-info {
    font-weight: bold;
    color: var(--color-blue);
}

.contact-desc {
    font-size: 0.9em;
    color: #666;
}

/* Contenedor del mapa */
.map-container {
    width: 100%;
    margin-top: 20px;
}

/* Estilos responsive */
@media (max-width: 768px) {
    .contact-section {
        flex-direction: column;
    }

    .contact-item {
        margin-bottom: 20px;
    }
}